<!DOCTYPE html>
<html>
  <head>
    <title>SQL Data</title>
  </head>
  <body class="container">
    <h1>Welcome to our SQL Database to do with Movies</h1>

  <a href="movies">Link to Movies Page</a><br>
  <a href="genres">Link to Genres Page</a><br>
  <a href="links">Link to Links Page</a><br>
  <a href="ratings">Link to Ratings Page</a><br>
  <a href="tags">Link to Tags Page</a><br>
  <a href="search">Link to Details Page</a><br>
  <a href="search_1">Link to UserCase1 Page</a><br>
  <a href="search2">Link to Prediction Page</a><br>
  <a href="tag_analysis">Tag Analysis!</a><br>

  </body>
</html>