<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body class="container">
    <h1>Personality Traits</h1>
    <h3>Is there any relationship between people's personality traits and their movie preferences? Select a genre to find out:</h3>
    <p></p>
    <form action="/personality_analysis_results_by_genre" method="POST">
      <select name="genre_option" id="genre_option">
        <option value="Action">Action</option>
        <option value="Adventure">Adventure</option>
        <option value="Animation">Animation</option>
        <option value="Children">Children</option>
        <option value="Comedy">Comedy</option>
        <option value="Documentary">Documentary</option>
        <option value="Drama">Drama</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Film-Noir">Film-Noir</option>
        <option value="Horror">Horror</option>
        <option value="IMAX">IMAX</option>
        <option value="Musical">Musical</option>
        <option value="Mystery">Mystery</option>
        <option value="Romance">Romance</option>
        <option value="Sci-Fi">Sci-Fi</option>
        <option value="Thriller">Thriller</option>
        <option value="War">War</option>
        <option value="Western">Western</option>
      </select>
      <button type="submit">Search</button>
    </form>
<!-- <br>
<br>
    <h3>Get the top 10 tags for each rating!</h3>
    <p>Curious about what tags are associated with higher ratings? Specify how many tags you want to see for each rating and click search!</p>
    <form action="/tag_analysis_results_by_rating" method="POST">
      <input type="int" name="num_tags">
      <button type="submit">Search</button>
    </form>
<br>
<br>
    <h3>Relationships between tags and users?</h3>
    <p>Click here to see if popular tags are used by multiple people or by the same person... or search by a specific tag:</p>
    <form action="/tag_analysis_results_by_user" method="POST">
      <input type="int" name="selected_tag">
      <button type="submit">Search</button>
    </form> -->
  </body>
</html>
