<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="../static/movieDetails.css">
  </head>
  <body class="bodyC" style ="text-align: center;">
    <h1 class ="h1" style = "  margin-top: 23%;">Please enter the name of the film you want information about</h1>
    <h1>e.g. toy story, jumanji, clueless, pocahontas etc</h1>
    <div class="box">
    <form action="/rotten_tomato_search_results" method="POST">
      <input type="text" name="search" class="searchBox">
      <button type="submit" class="buttonStyle" placeholder="Search for a movie">Search</button>
    </form>
  </div>
  </body>
  </div>
  
</html>
