<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
    <link rel="stylesheet" href="../static/task5.css">
  </head>
  <div class="header">
    <h1>Predicting how a film will be rated</h1>
    <div class="header2">
      <h2>Rating of first 25% of viewers of the movie</h2>
        <body>
          {% if results %}
            <ul>
              {{results[0]}}
            </ul>
          {% else %}
            <p>No results found.</p>
          {% endif %}
        </body>
  </div>
  <div class="header3">
    <h2>Aggregate rating of all viewers of the movie</h2>
      <body>
        {% if results %}
          <ul>
            {{results[1]}}
          </ul>
        {% else %}
          <p>No results found.</p>
        {% endif %}
      </body>
</div>
  </div>
  
</html>